@charset "utf-8";
@media screen and (min-width: 480px) {
    body { background-color: #00f; }
    hl { font-size: 2em;}
    hl { border-style: dashed;}
}
@media screen and (max-width: 300px) {
    hl { border-style: solid; }
    body { background-color: #ccc; }
}